<div id="header">
        <h1>Theater Kritik-Portal (Seite A)</h1>
        <div><span data-bind="text: contentA"></span></div>
    </div>

    <div id="background-box">
        <h3>Bitte geben Sie eine Bewertung für die von Ihnen besuchte Theateraufführung ab:</h3>
        <p class="error" data-bind="text: errorMessage">&nbsp;</p>
        <div data-bind="with: editedTheaterReview">
            <form>
                <fieldset>
                    <label for="performance">Aufführung: </label><br />
                    <input name="performance" id="performance" size="80" type="text" data-bind="textInput: performance" />
                    <br />
                    <br />
                    <!-- TODO: datepicker howto-->
                    <label for="dateOfVisit">am: </label><br />
                    <input name="dateOfVisit" id="dateOfVisit" size="80" type="text" data-bind="textInput: dateOfVisit" />
                    <br />
                    <br />                
                    <label for="content">Inhalt / Persönlicher Eindruck: </label><br />
                    <textarea NAME="content" id="content" ROWS=5 COLS=80 data-bind="textInput: content" ></textarea>
                    <br />
                    <br />
                    <label for="synesthesia">Farbassoziation - Synästhesie: </label><br />
                    <select name="synesthesia"  id="synesthesia" multiple="multiple" data-bind="foreach: $root.synesthesiaValues, selectedOptions: synesthesia" >
                        <option data-bind="value: $data, text:$data" > </option>

                    </select>
                    <br />
                    <br />
                    <h2>Bewertung der Aufführung: </h2><br />

                        <!-- ko foreach: $root.ratingValues -->
                        <input name="rating" type="radio" data-bind="checked: $parent.rating, value: $data, id:''+$data" />
                        <label data-bind="attr: {for: ''+$data}">Note <span data-bind="text:$data"></span></label><br />         
                        <!-- /ko -->

                    <br />
                    <br />
                    <input class="button grey" data-bind="click: $root.savePerformanceRatingSetB" name="save" onclick="return confirm('Wollen Sie wirklich speichern?')" type="submit" value="Absenden" />
                </fieldset>
            </form>
        </div>
    </div>