<div id="header">
    <h1>Theater Kritik-Portal (Seite B)</h1>
    <div data-bind="text: contentB"></div>
</div>

<div id="background-box">
    <table>
        <thead>
            <tr >
                <th >Aufführungstitel</th>
                <th >Datum</th>
                <th >Inhalt / Persönlicher Eindruck </th>
                <th >Synästische Assoziation</th>
                <th >Bewertung / Note</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:theaterReviews()">
            <tr>
                <td><span data-bind="text:performance"></span></td>
                <td><span data-bind="text:dateOfVisit"></span></td>
                <td><span data-bind="text:content"></span></td>
                <td>    
                    <span data-bind="foreach:synesthesia">
                        <span data-bind="text: $data"></span>
                    </span>
                </td>
                <td><span data-bind="text:rating"></span></td>                    
            </tr>
        </tbody>
    </table>
</div>

