<div id="header">
    <h1>Theater Kritik-Portal (Seite C)</h1>
    <div data-bind="text: contentC"></div>
</div>

<div id="background-box">
    <h3>Wählen Sie eine Datei zum Upload aus:</h3>
        <!-- hier ist das data-bind nicht am button sondern an der Form 
             - gemeinsame Übermittlung von  Titel und File ??/bereits beim onchange-->    
        <form data-bind="submit: uploadFile">           
            <fieldset >
                <legend>  So gehts:   </legend>
                <label for="name">Datei Titel:</label>
                <input id="filetitle" type="text" data-bind="textInput: editedfiletitle">
                <br /><br />  <br />  
                
                <!--@Toni: wie funktioniert das Binding für checkboxen? die Checkboxen werden gezeigt, aber die Checked-Werte gehen verloren -->
                <!-- ko foreach: $root.directoryValues -->
                <label data-bind="attr: {for: $data}">
                    <span data-bind="text:$data" />  </label>
                    <input type="checkbox" name="directory" data-bind="checked: $parent.directories, value: $data"  /> <br />           
                 <!-- /ko -->
                
                <br /><br />  <br />    
                <button type="submit">Datei auswählen</button>
            </fieldset>
        </form>
        <br />
        <h3>Daten ausgeben:</h3>
        <p>
            Zuletzt eingegebener Titel lautet: <span class="blackbold" data-bind="text: editedfiletitle"></span>
        </p>
        <p>
            Zuletzt gewählte Datei: <span class="blackbold"  data-bind="text: editeduploadedfile"></span>
        </p>  
        <!-- @ Toni hier sollen die Werte der geklickten Checkboxen angezeigt werden-->
        <p>
            Zuletzt gewählte Verzeichnisse:                 
                <span data-bind="foreach:directories">
                    <span  class="blackbold"  data-bind="text: $data"></span>
                </span>
        </p>        
        <br /><br />
        <hr />  
        <br />
        <form>
            <fieldset >
                <legend>  Negativ-Beispiele, so gehts nicht:  </legend>
                <!-- Achtung, so klappt es nicht. Hier kommt der fakepath raus! 
                     Es muss ein Java File-Upload Dialog verwendet werden!      -->
                <label for="soNicht">So kommt nur der pure Dateiname (bzw. fakepath als popup):</label><br /><br />
                <input type="file" id="soNicht" name="file1" title="Hier kommt der Fakepath" onChange="alert(this.value);">
                <br /><br /> 

                <!--Upload, es kommt aber nur der reine Dateiname, nicht verwendbar:  -->    
                <label for="fileUpload1">Gleicher Effekt bei Dukescript:</label><br /><br />
                <input type="file" id="fileUpload1" name="file1" data-bind="event: { change: function() {addUplFile($element.files[0].name) }}" title="Datei wählen 1"   >

            </fieldset>
        </form>

</div>
